/* Variables */

:root {
    --basic-bacground: #F1F5F7;
    --basic-red: #EE3643;
    --basic-white: #FFFFFF;
    --basic-dark-grey: #293449;
    --basic-green: #63A63E;
    --basic-light-grey: #B7BFC8;
    --basic-grey: #32425C;
    --basic-light: #F9F5F0;
    --basic-black: #000000;
    --basic-orange: #FFD180;
    --basic-greylight: #C5C5C5;
    --basic-background: #F1F5F7;

    --inner-sorting: #F7F3EC;

    --features-light-orange: #FFBF47;
    --features-blue: #3BBCE3;
    --features-violet: #DC91D8;
    --features-green: #8ED78F;
    --features-orange: #FFC047;
    
    --aiming-red: #EE3643;
    --error: #BA2732;
    --click-dark: #161D29;
    --success-green: #5FBB2D;
    --click-grey: #1D2739;
    --click-lightgrey: #A9A9A9;
    --buttom-aiming: #CA2C37;
    --click-green: #518534;

    --button-background: rgba(255,255,255, .3);
    --background-gallery: rgba(0, 0, 0, 0.0001);
}

/* Global */

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.hidden {
    display: none;
}

.button {
    background-color: var(--basic-red);
    color: var(--basic-white);
    font-size: 11px;
    line-height: 18px;
    text-transform: uppercase;
    appearance: none;
    border: none;
}

/* Main navigation */

.main-header {
    background-color: var(--basic-background);
}


.logo {
    background-color: var(--basic-red);
    display: block;
}

.caption {
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
    background-color: var(--basic-dark-grey);
}

.main-header-logo:active {
    background-color: var(--error);
}

.caption-search,
.caption-bookmark,
.caption-cart {
    /*сделать окошко поиска серым*/
    color: inherit;
    background-color: transparent;
}

.caption-search::before {
    /*добавить лого*/
}

.caption-bookmark::before {
    /*добавить лого*/
}

.caption-cart::before {
     /*добавить лого*/
}

.caption-search:hover,
.caption-bookmark:hover,
.caption-cart:hover {
    /*поменять цвет лого - white*/
}

.caption-search:active
.caption-cart:active {
    opacity: 0.5;
}

.caption-search:focus {
    background-color: var(--basic-white);
}

.caption-checkout {
    color: inherit;
    background-color: var(--basic-green);
}

.caption-checkout:active {
    opacity: 0.5;
}

/* Header contacts */

.subject {
    color: var(--basic-red);
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
}

.contact{
    color: var(--basic-grey);
}

.contact-phone a{
    color: var(--basic-red);
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
}

.contact-phone::before {
    /*добавить лого*/
}

.contact-adress {
    font-size: 14px;
    line-height: 24px;
}

.login a{
    color: var(--basic-black);
    font-size: 21px;
    line-height: 21px;
}

/* Site navigation*/

.site-navigation {
    color: var(--basic-white);
}

.navigation-list {
    list-style: none;
    color: var(--basic-white);
    background-color: var(--basic-grey);
    padding: 0;
}

.navigation-item a{
    color: inherit;
}

/* Features */

.features-list {
    list-style: none;
    padding: 0;
}

.features-item {
    width: 300px;
    height: 123px;
    color: var(--basic-white);
}

.features-item h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.features-button {
    color: inherit;
    background-color: var(--button-background);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.features-item-materials {
    background-color: var(--features-light-orange);
}

.features-item-tools {
    background-color: var(--features-blue);
}

.features-item-technics {
    background-color: var(--features-violet);
}

.features-item-sale {
    background-color: var(--features-green);
}

.features-item-delivery {
    background-color: var(--features-orange);
}

/* Gallery */

.gallery {
    width: 620px;
    min-height: 266px;
    background-color: var(--background-gallery);
}

.gallery-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
}

/* Popular */

.popular {
    width: 940px;
    height: 89px;
    background-color: var(--basic-light);
}

.popular h2 {
    font-size: 30px;
    line-height: 30px;
    color: var(--basic-grey);
    text-transform: uppercase;
}

/* Catalog */

.catalog-list {
    list-style: none;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}

.catalog-item a{
    color: inherit;
}

.undiscounted {
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
}

.button-catalog {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

/* Services */

.services p,
.desc {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
}

.services-list {
    list-style: none;
    padding: 0;
}

.services-title,
.title {
    color: var(--basic-black);
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.services-button {
    color: var(--basic-white);
    background-color: var(--basic-grey);
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
}

.services-button:active {
    color: var(--basic-grey);
    background-color: var(--basic-white);
}

.transport-list {
    list-style: none;
    padding: 0;
}

.transport-item {
    color: var(--basic-black);
    font-size: 18px;
    line-height: 24px;
}

/* Footer */

.main-footer-nav {
    background-color: var(--basic-grey);
}

.footer-phone {
    color: inherit;
}

.benefits-list {
    color: var(--basic-orange);
    list-style: none;
    padding: 0;
}

.benefits-list a {
    color: inherit;
}

.footer-contacts {
    background-color: var(--basic-dark-grey);    
    font-size: 16px;
    line-height: 18px;
}

.footer-social {
    list-style: none;
    padding: 0;
}

.social-button,
.footer-mail a,
.footer-copyright a {
    color: inherit;
}

/* Breadcrumbs */

.breadcrumbs-list {
    list-style: none;
    padding: 0;
    text-transform: uppercase;
}

.inner-title {
    background-color: var(--basic-bacground);
    display: block;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

/* Sorting */

.sorting,
.sorting-title,
.filter-title {
    background-color: var(--inner-sorting);
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.sorting-list {
    list-style: none;
    padding: 0;
}

.sorting-item {
    opacity: 0.3;
    border-bottom: 1px dotted var(--basic-red);
}

.sorting-item:hover {
    opacity: 100%;
    border-bottom: 1px solid var(--basic-red);
}

.sorting-item:active {
    text-decoration: none;
    color: var(--basic-red);
}

/* Filters */

.filter-subject {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
}

.price-slider {
    /*не знаю как убрать рамку вокруг и вывести ввод цены вручную отдельно от слайдера*/
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size:  17px;
    line-height: 18px;
    background-color: var(--inner-sorting);
}

.filter-option,
.filter-radio {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size:  15px;
    line-height: 19px;
    text-transform: uppercase;
}

.filter-button {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size:  13px;
    line-height: 18px;
    text-transform: uppercase;
}

/* Pagination */

.pagination-list {
    list-style: none;
    padding: 0;
}
    
.pagination-item a,
.pagination-item a:hover {
    font-family: "PT Sans", Arial, sans-serif;
    color: inherit;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    border: 1px solid var(--basic-greylight);
}

.pagination-item a:focus,
.pagination-item a:active {
    border: 1px solid var(--basic-red);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:active,
.pagination-item-current a:focus {
    color: var(--basic-white);
    background-color: var(--basic-red);
}

/* Aside */

.aside {
    background-color: var(--basic-bacground);
}

.aside-title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.aside-text {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
}