/* Variables */

:root {
    --basic-background: #F1F5F7;
    --basic-red: #EE3643;
    --basic-white: #FFFFFF;
    --basic-dark-grey: #293449;
    --basic-green: #63A63E;
    --basic-light-grey: #B7BFC8;
    --basic-grey: #32425C;
    --basic-light: #F9F5F0;
    --basic-black: #000000;
    --basic-orange: #FFD180;
    --basic-greylight: #C5C5C5;
    --basic-background: #F1F5F7;
    --basic-border: #EAEAEA;

    --inner-sorting: #F7F3EC;

    --features-light-orange: #FFBF47;
    --features-blue: #3BBCE3;
    --features-violet: #DC91D8;
    --features-green: #8ED78F;
    --features-orange: #FFC047;
    
    --aiming-red: #EE3643;
    --error: #BA2732;
    --click-dark: #161D29;
    --success-green: #5FBB2D;
    --click-grey: #1D2739;
    --click-lightgrey: #A9A9A9;
    --buttom-aiming: #CA2C37;
    --click-green: #518534;
    --grey-icon: #3D546F;


    --button-background: rgba(255, 255, 255, 0.3);
    --button-click: rgba(197, 197, 197, 0.3);
    --button-active: rgba(169, 169, 169, 0.3);
    --background-slider: rgba(0, 0, 0, 0.0001);
}

/* Global */

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
    background-color: var(--basic-white);

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    display: none;
}

.button {
    background-color: var(--basic-red);
    color: var(--basic-white);
    font-size: 11px;
    line-height: 18px;
    text-transform: uppercase;
    appearance: none;
    border: none;
}

.button:hover {
    background-color: var(--buttom-aiming);
    appearance: none;
    border: none;
}

.button:active {
    background-color: var(--error);
    appearance: none;
    border: none;
}

.logo {
    background-color: var(--basic-red);
    display: block;
    box-sizing: border-box;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

/* Grid */

.page {
    height: 100%;
  }

/* Main navigation */

.main-header-bar {
    width: 100%;
    background-color: var(--basic-dark-grey);
}

.main-header {    
    display: grid;
    background-color: var(--basic-background);
    margin-bottom: 60px;
}

.caption {
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
    background-color: var(--basic-dark-grey);
    display: grid;
    grid-template-columns: 220px 1fr repeat(3, max-content);
}

.main-header-logo {
    width: 220px;
    height: 42px;
    grid-column-start: 1;
    vertical-align: middle;
    padding-top: 12px;
    text-align: center;
}



.main-header-logo:active {
    background-color: var(--error);
}

.caption-search {
    grid-column-start: 2;
    position: relative;}

.caption-bookmark{
    grid-column-start: 3;
    padding-left: 43px;
    padding-right: 24px;
    position: relative;}

.caption-cart {
    grid-column-start: 4;
    padding-left: 43px;
    padding-right: 26px;
    position: relative;}

.caption-checkout {
    grid-column-start: 5;
    padding-top: 9px;
    padding-left: 19px;
    padding-right: 16px;
}

.search,
.caption-bookmark,
.caption-cart {
    color: inherit;
    background-color: var(--basic-dark-grey);
    display: block;
    padding-top: 9px;
    padding-bottom: 9px;
}

.search {
    padding-left: 42px;
    border: none;
    font: inherit;
    width: 100%;
}

.caption-search::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 17px;
    padding-right: 17px;
    width: 17px;
    height: 17px;
    background-image: url("../img/icons/icon-search.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.caption-bookmark::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 20px;
    width: 14px;
    height: 16px;
    background-image: url("../img/icons/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.caption-cart::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 20px;
    width: 15px;
    height: 15px;
    background-image: url("../img/icons/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    color: var(--basic-white);
    opacity: 0.3;
}

.caption-search:hover::before,
.caption-bookmark:hover::before,
.caption-cart:hover::before {
    opacity: 1;
}

.caption-bookmark:active,
.caption-cart:active {
    opacity: 0.5;
}

.caption-search:focus {
    background-color: var(--basic-white);
    color: var(--basic-black);
}

.caption-checkout {
    color: inherit;
    background-color: var(--basic-green);
}

.caption-checkout:active {
    opacity: 0.5;
}

/* Header contacts */

.main-header-info {
    display: grid;
    grid-template-columns: 300px 300px repeat(2, max-content);
    gap: 20px;
    min-height: 158px;
}

.subject {
    color: var(--basic-red);
    font-style: italic;
    font-size: 16px;
    line-height: 23px;  
    padding-left: 30px;
    align-self: center;
}

.contact{
    color: var(--basic-grey);
    text-align: center;
    position: relative;
    margin-top: 46px;
}

.contact-phone a{
    color: var(--basic-red);
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
    border: 3px solid var(--basic-white);
    padding-top: 7px;
    padding-bottom: 8px;
    padding-left: 74px;
    padding-right: 45px;
}

.contact-phone a::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 39px;
    width: 19px;
    height: 19px;
    background-image: url("../img/icons/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    margin: 0;
}

.contact-adress {
    font-size: 14px;
    line-height: 24px;
    font-style: inherit;
    text-align: center;
}

.login {
    position: relative;
    margin-top: 46px;
}

.login-link {
    color: var(--basic-black);
    background-color: var(--basic-white);
    font-size: 21px;
    line-height: 21px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 45px;
    padding-right: 27px;
}

.login svg{
    position: absolute;
    left: 19px;
    z-index: 2;
}

.login-registration {
    color: var(--basic-black);
    background-color: var(--basic-white);
    font-size: 21px;
    line-height: 21px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 27px;   
}

.login-link:hover,
.login-registration:hover {
    color: var(--basic-red);
}

.login:hover path {
    fill: var(--grey-icon);
}

.login-link:active,
.login-registration:active {
    color:var(--basic-greylight)
}

.login:active path {
    fill: var(--basic-greylight);
}

/* Site navigation*/

.site-navigation {
    width: 940px;
    color: var(--basic-white);    
}

.navigation-list {
    height: 60px;
    list-style: none;
    color: var(--basic-white);
    background-color: var(--basic-grey);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 60px;
}

.navigation-item a{
    color: inherit;
    display: block;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 15px;
    padding-left: 27px;
    padding-right: 24px;
}

.navigation-item a:hover {
    background-color: var(--basic-dark-grey);
}

.navigation-item a:active {
    background-color: var(--basic-dark-grey);
    opacity: 0.5;    
}

/* Features */

.features {
    display: grid;
    grid-template-columns: 620px 1fr;
    grid-template-rows: max-content auto;
    padding: 0;
    margin: 0;
}

.features-list {
    list-style: none;
    padding: 0;
    margin: 0;
    grid-column: 1/-1;
    display: flex;
    flex-wrap: wrap;
}

.features-item {
    padding: 0;
    margin: 0;
    width: 300px;
    min-height: 123px;
    color: var(--basic-white);
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.features-item:last-child {
    padding: 0;
}

.features-item h3,
.features-facilities-item h3 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    padding-left: 23px;
    padding-top: 20px;
    margin-bottom: 14px;
}

.features-button {
    width: 135px;
    color: inherit;
    background-color: var(--button-background);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    margin-left: 23px;
    margin-bottom: 21px;
    margin-right: 143px;
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.features-button:hover {
    background-color: var(--button-click);
}

.features-button:active {
    background-color: var(--button-active);
}

.features-facilities {
    list-style: none;
    padding: 0;
    margin: 0;
    order: 2;
    padding-left: 20px;
    margin-top: 22px;
}

.features-facilities-item {
    padding: 0;
    margin: 0;
    width: 300px;
    min-height: 123px;
    color: var(--basic-white);
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


.features-item-materials {
    background-color: var(--features-light-orange);
    position: relative;
}

.features-item-materials::before {
    content: "";
    position: absolute;
    width: 44px;
    height: 65px;
    background-image: url(../img/icons/icon-materials.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 31px;
    left: 213px;
}

.features-item-tools {
    background-color: var(--features-blue);
    position: relative;
}

.features-item-tools::before {
    content: "";
    position: absolute;
    width: 75px;
    height: 61px;
    background-image: url(../img/icons/icon-tools.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 34px;
    left: 194px;
}

.features-item-technics {
    background-color: var(--features-violet);
    position: relative;
}

.features-item-technics::before {
    content: "";
    position: absolute;
    width: 78px;
    height: 62px;
    background-image: url(../img/icons/icon-technics.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 31px;
    left: 191px;
}

.features-item-sale {
    background-color: var(--features-green);
    position: relative;
}

.features-item-sale::before {
    content: "";
    position: absolute;
    width: 59px;
    height: 72px;
    background-image: url(../img/icons/icon-sale.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 26px;
    left: 196px;
}

.features-item-delivery {
    background-color: var(--features-orange);
    position: relative;
}

.features-item-delivery::before {
    content: "";
    position: absolute;
    width: 78px;
    height: 63px;
    background-image: url(../img/icons/icon-delivery.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 32px;
    left: 191px;
}


/* Slider */

.slider {
    position: relative;
}

.slider-list {
    width: 620px;
    min-height: 266px;
    background-color: var(--background-slider);
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider-item {
    display: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.slider-item img { 
    margin: 0;
    padding: 0;
    margin-top: 20px;
    position: absolute;
    left: 0;
}

.slider-item-current {
    display: block;
}

.arrows {
    display: flex;
    justify-content: space-between;
    border: none;
}

.arrow-back {
    content: "";
    position: absolute;
    width: 22px;
    height: 40px;
    background-image: url(../img/icons/icon-left.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 142px;
    left: 24px;
}

.arrow-next {
    content: "";
    position: absolute;
    width: 22px;
    height: 40px;
    background-image: url(../img/icons/icon-left.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
    transform: rotate(180deg);
    top: 142px;
    right: 20px;
}

.slider-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    position: relative;
    color: var(--basic-white);
    padding-top: 43px;
    padding-left: 24px;
    margin: 0;
}

.slider-text {
    color: var(--basic-white);
    position: relative;
    margin: 0;
    margin-left: 24px;
    padding-top: 5px;
}

.slider-button {
    z-index: 20;
    position: absolute;
    padding-top: 11px;
    padding-bottom: 9px;
    padding-left: 46px;
    padding-right: 46px;
    top: 221px;
    left: 24px;
}

.slider-controls {
    z-index: 20;
    position: absolute;
    width: 30px;
    height: 10px;
    top: 240px;
    left: 295px;
    display: flex;
    justify-content: space-between;
}

.slider-controls .current {
    background-color: var(--basic-red);
}

.slider-controls button {
    padding: 0;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
    z-index: 30;
}
  

/* Popular */

.popular {
    width: 940px;
    height: 89px;
    background-color: var(--basic-light);
    display: grid;
    grid-template-columns: 1fr 220px;
    margin-top: 59px;
}

.popular h2 {
    font-size: 30px;
    line-height: 30px;
    color: var(--basic-grey);
    text-transform: uppercase;
    padding-left: 30px;
}

.popular .button {
    width: 192px;
    height: 38px;
    margin-top: 25px;
    margin-left: 14px;
}

/* Catalog */

.catalog-main {
    width: 940px;
    min-height: 427px;
}

.catalog-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 318px;
    gap: 20px;
}

.catalog-item h3 {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-left: 18px;
    padding-right: 17px;
}

.catalog-item img{
    max-width: 184px;
    max-height: 164px;  
    justify-content: center;
}

.catalog-list-inner {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 2/-1;
}

.catalog-item a{
    color: inherit;
}

.catalog-item {
    border: var(--basic-border) 1px solid;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 220px;
    min-height: 318px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.undiscounted {
    color: var(--click-lightgrey);
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
}

.button-catalog {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 21px;
    margin-left: 47px;
    margin-right: 32px;
}

/* Manufacturer*/

.manufacturer {
    min-height: 145px;
    display: grid;
    grid-template-columns: repeat(4, 220px);
    grid-template-rows: repeat(2, 145px);
    gap: 20px;
    padding-top: 20px;
}

.manufacturer-item {
    width: 220px;
    height: 145px;
    border: var(--basic-border) 1px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Services */

.services { 
    background-color: var(--basic-background);
    margin: 0;
    width: 100%;
    min-height: 522px;
    margin-top: 70px;
    padding-top: 64px;
    padding-left: 130px;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 235px 1fr;
}

.services-wrap {
    grid-column: 1/-1;
}

.services p,
.desc {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
}

.services-list {
    list-style: none;
    padding: 0;
}

.services-title,
.title {
    color: var(--basic-black);
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.services-button {
    width: 240px;
    height: 61px;
    color: var(--basic-white);
    background-color: var(--basic-grey);
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    text-align: left;
    padding-left: 22px;
}

.services-button:active {
    color: var(--basic-grey);
    background-color: var(--basic-white);
}

/* About */

.about {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 180px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.transport-list {
    list-style: none;
    padding: 0;
}

.transport-item {
    color: var(--basic-black);
    font-size: 18px;
    line-height: 24px;
}

/* Footer */

.main-footer {
    width: 100%;
    background-color: var(--basic-grey);
    color: var(--basic-white);
}

.main-footer-nav {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 80px 1fr;
    width: 940px;
    min-height: 193px;
    margin: 0 auto;
}

.main-footer-logo {
    width: 220px;
    height: 68px;
    vertical-align: middle;
    grid-column: 1/2;
    padding-top: 19px;
    padding-left: 41px;   
    padding-right: 41px;   
}

.footer-navigation-list {
    height: 60px;
    list-style: none;
    color: var(--basic-white);
    background-color: var(--basic-grey);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 60px;
}

.footer-navigation-item a{
    color: inherit;
    display: block;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 15px;
    padding-left: 27px;
    padding-right: 24px;
}
.footer-phone {
    margin-top: 0;
    color: inherit;
}

.benefits-list {
    color: var(--basic-orange);
    list-style: none;
    padding: 0;
    grid-column: 2/3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.benefits-list a {
    color: inherit;
}

.footer-contacts {
    background-color: var(--basic-dark-grey); 
    color: inherit;   
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    padding: 0;
}

.footer-contact-wrap {
    display: grid;
    grid-template-columns: 300px 300px 140px 140px;
    gap: 20px;
}

.footer-social {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
}

.social-button{
    color: inherit;
    padding-left: 1px;
}

.footer-mail a,
.footer-copyright a {
    color: var(--basic-orange);
}

/* Breadcrumbs */

.breadcrumbs-list {
    list-style: none;
    padding: 0;
    text-transform: uppercase;
}

.breadcrumbs-item a{
    color: var(--basic-black);
}

.inner-title {
    background-color: var(--basic-background);
    min-height: 89px;
    display: block;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    padding-top: 29px;
    padding-left: 29px;
    box-sizing: border-box;
}

/* Sorting */

.catalog-wrap {
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: 38px 1fr;
    gap: 20px;
}

.filters {
    grid-row: 1/-1;
}

.sorting,
.sorting-title,
.filter-title {
    background-color: var(--inner-sorting);
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.sorting-title {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 140px;
}

.filter-title {
    margin-top: 0;
    padding: 10px;
    padding-left: 18px;
}

.sorting {
    display: grid;
    grid-template-columns: 140px 1fr;
}

.sorting-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px;
}

.sorting-item {
    padding: 0;
    opacity: 0.3;
    border-bottom: 1px dotted var(--basic-red);
}

.sorting-item:hover {
    opacity: 100%;
    border-bottom: 1px solid var(--basic-red);
}

.sorting-item:active {
    text-decoration: none;
    color: var(--basic-red);
}

.filter-subject {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
}

.price-slider {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size:  17px;
    line-height: 18px;
    background-color: var(--inner-sorting);
}


.filter-option,
.filter-radio {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size:  15px;
    line-height: 19px;
    text-transform: uppercase;
    list-style: none;
}

.filters fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.filter-button {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size:  13px;
    line-height: 18px;
    text-transform: uppercase;
}

/* Pagination */

.pagination-list {
    list-style: none;
    padding: 0;
    margin-top: 48px;
    grid-row: -1/-2;
    display: flex;
    flex-wrap: wrap;
}
 
.pagination-item a{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 10px;
}

.pagination-item a,
.pagination-item a:hover {
    font-family: "PT Sans", Arial, sans-serif;
    color: inherit;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    border: 1px solid var(--basic-greylight);
}

.pagination-item a:focus,
.pagination-item a:active {
    border: 1px solid var(--basic-red);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:active,
.pagination-item-current a:focus {
    color: var(--basic-white);
    background-color: var(--basic-red);
}

/* Aside */

.aside {
    background-color: var(--basic-bacground);
    margin-top: 59px;
}

.aside-title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    padding-top: 64px;  
}

.aside-text {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    padding-bottom: 67px;

}

